## QBUS6840 - Assignment

### 1. Load Data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels as sm
import statsmodels.api as smt

<frozen importlib._bootstrap>:219: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [2]:
# load data
df_raw = pd.read_csv('data/UnderemploymentRate_InSample.csv')

display(df_raw.info())
df_raw.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 475 entries, 0 to 474
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  475 non-null    object
 1   Underemployment Rate  475 non-null    float64
dtypes: float64(1), object(1)
memory usage: 7.5+ KB

None

        Date  Underemployment Rate
0  1/06/1978              4.270054
1  1/07/1978              3.933794
2  1/08/1978              4.045333
3  1/09/1978              3.999336
4  1/10/1978              3.722322

In [4]:
# Convert and set index to datetime
df_ts = df_raw.copy()
df_ts['Date'] = pd.to_datetime(df_ts['Date'])
df_ts = df_ts.set_index('Date')
df_ts.head()

            Underemployment Rate
Date
1978-01-06              4.270054
1978-01-07              3.933794
1978-01-08              4.045333
1978-01-09              3.999336
1978-01-10              3.722322